.profile-container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
  }
  
  .profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
  
  .icon {
    width: 24px;
  }
  
  .logout-button {
    font-size: 1.2rem;
    background-color: #fff;
    border: none;
  }
  
  .logout-btn-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }
  
  .logout-btn-container button {
    cursor: pointer;
  }
  
  #loading-message {
    display: none;
  }
  
  .profile-img-wrapper {
    width: 30rem;
  }
.view-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.edit-mode{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
  margin: 20px;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  .profile-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .btn {
    margin-top: 1rem;
    background-color: #6534d9;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 768px) {
    .profile-container {
      width: 100%;
    }
  
    .profile-img-wrapper {
      width: 100%;
    }
  }